// Menu Button
.menu-btn {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 3;
  @include easeOut;

  .btn-line {
    background: white;
    height: 3px;
    margin: 0 0 5px 0;
    width: 28px;
    @include easeOut;
  }

  // Rotate Into X With Menu Line
  &.close {
    transform: rotate(180deg);

    .btn-line {

      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        display: none;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(135deg) translate(0px, 0px);
      }
    }
  }
}

// Menu Overlay
.menu {
  // opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    float: left;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 50%;
  }

  &-nav {
    background: darken(rgba($primary-color, 0.9), 5);
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding
  &-branding {
    background: rgba($primary-color, 0.9);
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background-image: url('../img/headshot.JPG');
      background-color: #AFBBB9;
      background-position-x: 25px;
      background-repeat: no-repeat;
      background-size: 12rem;
      border: solid 3px $secondary-color;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      z-index: 4;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }

    &.current>a {
      color: $secondary-color;
    }
  }

  .nav-link {
    color: set-text-color($primary-color);
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}


// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}